/*
font-family: 'Playfair Display SC', serif;
font-family: 'Poppins', sans-serif;

font-family: 'Lato', sans-serif; -> Extra
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  Default Font size = 1rem  */
html{
    font-size: 18px;
}

.OurContainer{
    max-width: 80vw;
    margin: auto;
}

.bg{
    background-color: #1C4A4A;
}
.whiteBg{
    max-width: 97vw;
    margin: auto;
    background-color: white;
}
/* For Navigation and other not so important texts*/
.label{
    font-size: 0.8889rem;
    font-family: 'Lato', sans-serif;
    font-weight: regular;
    color: #1b1c1e;
}

p{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: regular;
    color: #1b1c1e;
}

h5{
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #F6A2BC;
}

h4{
    font-size: 1.556rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #1b1c1e;
}

h3{
    font-size: 1.944rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #1b1c1e;
}

h2{
    font-size: 2.444rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #1C4A4A;
}

h1{
    font-size: 3.056rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}

.btnFont{
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.btnPrimary{
    background-color: #1C4A4A;
    color: white;
    border-radius: 10px;
    transition: 800ms;
}
.btnPrimary:hover{
    color: #1C4A4A;
    background-color: #F6A2BC;
    transition: 800ms;
}

.btnSecond{
    border-color: #1C4A4A;
    color: #1C4A4A;
    border-radius: 10px;
    transition: 800ms;
}
.btnSecond:hover{
    color: #F6A2BC;
    border-color: #F6A2BC;
    transition: 800ms;
}
.btnThird{
    background-color: #9EC5C5;
    color: #1C4A4A;
    border-radius: 10px;
    transition: 800ms;
}
.btnThird:hover{
    background-color: #1C4A4A;
    color: #9EC5C5;
    border-radius: 10px;
    transition: 800ms;
}

#searchForm{
    border-width: 1px 0px 1px 1px;;
    border-style: solid;
    border-color: rgba(0,0,0,0.1);
}
#search_category{
    border-width: 1px 1px 1px 0px;;
    border-style: solid;
    border-color: rgba(0,0,0,0.1);;
}

.star{
    height: auto;
    width: 5%;
}