.click {
    transition: 500ms;
    text-decoration: none;
}
.click:hover h4 {
    color: #1c4a4a;
    transition: 500ms;
    text-decoration: none;
}
.TutorBorder {
    border: 3px solid rgba(96, 81, 81, 0.105);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

.TutorImage {
    height: auto;
    width: 65%;
    border-radius: 50%;
}

.rating {
    width: 1vw;
    height: 2vh;
}
.click {
    transition: 500ms;
    text-decoration: none;
}
.click:hover h4 {
    color: #1c4a4a;
    transition: 500ms;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    #RSmall {
        display: none;
    }
    #SearchImgSmall {
        width: 6vw;
        height: 6vh;
    }
    #RHeadSmall {
        padding-top: 2rem;
    }
}

@media (max-width: 576px) {
    .TutorImage {
        height: auto;
        width: 40%;
        border-radius: 50%;
    }
    .cen {
        text-align: center;
    }
}
